*.ipynb filter=lfs diff=lfs merge=lfs -text
*.csv.gz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
modules filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/main/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.dockerfile filter=lfs diff=lfs merge=lfs -text
*.hcl filter=lfs diff=lfs merge=lfs -text
*.tf filter=lfs diff=lfs merge=lfs -text
/main/terraform/sudo[[:space:]]apt[[:space:]]update[[:space:]]&&[[:space:]]sudo[[:space:]]apt[[:space:]]install[[:space:]]terraform filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jaotc filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jar filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jarsigner filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/java filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/javac filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/javadoc filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/javap filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jcmd filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jconsole filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jdb filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jdeprscan filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jdeps filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jhsdb filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jimage filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jinfo filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jjs filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jlink filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jmap filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jmod filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jps filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jrunscript filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jshell filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jstack filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jstat filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/jstatd filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/keytool filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/pack200 filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/rmic filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/rmid filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/rmiregistry filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/serialver filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/bin/unpack200 filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.access filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.policy filter=lfs diff=lfs merge=lfs -text
*.security filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.jmod filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/legal/java.base/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/legal/java.base/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/legal/java.base/LICENSE filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/lib/classlist filter=lfs diff=lfs merge=lfs -text
*.sym filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/lib/jexec filter=lfs diff=lfs merge=lfs -text
*.jfc filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/lib/modules filter=lfs diff=lfs merge=lfs -text
*.ja filter=lfs diff=lfs merge=lfs -text
*.certs filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/lib/security/cacerts filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
/main/spark/jdk-11.0.2/release filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/LICENSE filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/NOTICE filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/R/lib/SparkR/DESCRIPTION filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/R/lib/SparkR/INDEX filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/R/lib/SparkR/NAMESPACE filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/R/lib/SparkR/R/SparkR filter=lfs diff=lfs merge=lfs -text
*.rdb filter=lfs diff=lfs merge=lfs -text
*.rdx filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.R filter=lfs diff=lfs merge=lfs -text
*.Rmd filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/R/lib/SparkR/help/AnIndex filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/RELEASE filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/beeline filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/find-spark-home filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/pyspark filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/run-example filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/spark-class filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/spark-shell filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/spark-sql filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/spark-submit filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/bin/sparkR filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/examples/src/main/python/ml/__init__,py filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/examples/src/main/python/sql/streaming/__init__,py filter=lfs diff=lfs merge=lfs -text
*.SparkSessionExtensionsProvider filter=lfs diff=lfs merge=lfs -text
*.JdbcConnectionProvider filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.avsc filter=lfs diff=lfs merge=lfs -text
*.avro filter=lfs diff=lfs merge=lfs -text
*.orc filter=lfs diff=lfs merge=lfs -text
*.scala filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/kubernetes/dockerfiles/spark/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.java17 filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/kubernetes/dockerfiles/spark/bindings/R/Dockerfile filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/kubernetes/dockerfiles/spark/bindings/python/Dockerfile filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/licenses/LICENSE-jakarta-annotation-api filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/licenses/LICENSE-jakarta-ws-rs-api filter=lfs diff=lfs merge=lfs -text
*.coveragerc filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/python/docs/Makefile filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.pyi filter=lfs diff=lfs merge=lfs -text
*.typed filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/python/run-tests filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/python/run-tests-with-coverage filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/python/test_support/sql/orc_partitioned/_SUCCESS filter=lfs diff=lfs merge=lfs -text
*.crc filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/python/test_support/sql/parquet_partitioned/_SUCCESS filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/python/test_support/sql/parquet_partitioned/_common_metadata filter=lfs diff=lfs merge=lfs -text
/main/spark/spark-3.3.2-bin-hadoop3/python/test_support/sql/parquet_partitioned/_metadata filter=lfs diff=lfs merge=lfs -text
/main/spark/zones/_SUCCESS filter=lfs diff=lfs merge=lfs -text
